/* TEXT */

p {
    color: #0D6EFD;
}


/* PAGE STYLING */

.container {
    padding-top: 40px !important;
    padding-bottom: 80px !important;
}

.col {
    padding: 20px 20px !important;
    position: relative !important;
}


/* NAV */

.nav {
    background-color: whitesmoke!;
}

.navbar {
    height: 100px !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.nav-link {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
}

.nav-item {
    padding-right: 40px !important;
}

.navbar-brand {
    padding-left: 40px;
    font-family: "PT Mono", sans-serif;
    font-size: 30px;
}


/* JUMBOTRON */

.jumbotron-home {
    background-image: url("/images/bliss2.jpeg");
    background-size: cover;
    height: 75vh;
}

.header {
    margin-top: 15%;
    color: white;
    font-family: "PT Mono", sans-serif;
}


/* WORK HEADER */

.page-header {
    margin-bottom: 50px !important;
    text-align: center;
}

.headerText {
    text-align: center;
    color: black;
    font-family: PT Sans;
    margin-top: 5%;
    margin-bottom: 0;
    background-size: cover;
    flex-direction: row;
}


/* CASE STUDY OVERLAY*/

.img-container {
    width: 100%;
    height: auto;
    position: relative;
}

.caseStudyImage {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: whitesmoke;
}

.img-container:hover .overlay {
    opacity: 1;
}

.text {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    color: #212529;
    font-size: 30px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.sub-text {
    font-family: "PT Sans", sans-serif;
    color: #0D6EFD;
    font-size: 20px;
    position: absolute;
    bottom: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/* BACK TO TOP */

.back-to-top {
    position: fixed;
    bottom: 125px;
    right: 25px;
    color: #0D6EFD;
}


/* FOOTER */

.container-footer {
    background-color: whitesmoke;
    height: 100px !important;
    margin-bottom: 0px !important;
}

.footer-row {
    padding-left: 94px;
    padding-right: 62px;
    padding-top: 36px;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
}

li {
    padding-right: 20px !important;
}


/*GAP*/

.jumbotron-GAP {
    background-image: url(/images/web.png);
    background-size: cover;
    height: 100vh;
}